body {
    background-color: pink;
}
h1,
h2,
h3,
h4 {
    font-family:'Franklin Gothic Medium';
    font-size: larger;
    font-weight: bold;
    text-align: center;
}
p {
    font-size: medium;
    font-style: italic;
    font-family: 'Lucida Sans';
}

